@import "../../../../styles/variables.scss";

.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  align-items: center;
  padding: 12px;
  background-color: $background-sidebar;
  z-index: 200;

  .iconsList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 12px;
    align-items: center;

    .link {
      cursor: pointer;
      color: $gray;

      &:hover {
        color: $white;
      }
    }
  }
}
