@import "./../../../../styles/variables.scss";

/* headings typography */
.typography-variant-heading {
  font-size: xx-large;
  font-weight: 500;
}

.typography-variant-subheading {
  font-size: x-large;
  font-weight: 500;
}

.typography-variant-body {
  font-size: large;
  font-weight: 450;
}

.typography-variant-info {
  font-size: medium;
  font-weight: 450;
}
