/* colors */
$white: #ffffff;
$primary: #2d55ff;
$gray: #707070;
$light-gray: #a0a0a0;
$dark-gray: #1e1e1e;
$typography-primary: #f5f5f5;
$divider-color: #2e2e2e;
$typography-gray: #d3d3d3;
$typography-powderblue: #dcdcdc;
$typography-darkblue: #6475a3;
$button_disabled: #6f9dff;
$border: 0.5px solid #6475a3;
$background-secondary: #2446d3;
$background-primary: #151515;
$background-sidebar: #141414;
$background-station: #181818;
$active-background: #05735940;
$active-text: #0abb92;
$inactive-background: #d5533840;
$inactive-text: #d55438;
$border-color: #1d1d1d;
$blur-bg: #ffffff30;
$background-color-dark: #111111;
$green: #00ae00;
$breakpoint-xxl: 1920px;
$breakpoint-xl: 1620px;
$breakpoint-lg: 1280px;
$breakpoint-md: 960px;
$breakpoint-sm: 600px;